@model IEnumerable<WebApplication1.Model.Models.TasksAssignedModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.ActionLink("Go Back", "Index")
</div>