@model WebApplication1.Model.Models.UserLoginModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LogInBody.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" method="post" action="~/LogIn/LogIn">
                                    <div class="form-group">
                                        <select class="form-control rounded-pill" id="role" name="role">
                                            <option value="">Select Role</option>
                                            <option value="Student">Student</option>
                                            <option value="Teacher">Teacher</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.email, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter your Email" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.password, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                    <br />
                                    <button class="btn btn-primary w-100 rounded-pill" type="submit">Login</button>
                                    <br />
                                    <br />
                                    @*<a href="~/Home/Index" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="~/Home/Index" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>*@
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="~/LogIn/ForgotPassword">Forgot Password?</a>
                                </div>
                                <br />
                                <div class="text-center small">Don't Have an Account??</div>
                                <div class="text-center">
                                    <a class="small" href="~/LogIn/Register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@if (TempData["Registered"] != null)
{
    <script>
        toastr.success("@TempData["Registered"]")
    </script>
}

@if (TempData["LoggedOut"] != null)
{
    <script>
        toastr.success("@TempData["LoggedOut"]")
    </script>
}

@if (ViewBag.LoginFailed != null)
{
    <script>
        toastr.error("@ViewBag.LoginFailed")
    </script>
}