@model WebApplication1.Model.Models.UserModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LogInBody.cshtml";
}

@{
    var states = new[] { new { stateId = 1, stateName = "Gujarat" }, new { stateId = 2, stateName = "Goa" }, new { stateId = 3, stateName = "Maharashtra" }, new { stateId = 4, stateName = "Karnataka" }, new { stateId = 5, stateName = "Rajasthan" } };
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post">
                            <div class="form-group">
                                <select class="form-control rounded-pill" id="role" name="role">
                                    <option value="">Select Role</option>
                                    <option value="Student">Student</option>
                                    <option value="Teacher">Teacher</option>
                                </select>
                                @Html.ValidationMessage("role", new { @class = "text-danger" })
                            </div>
                            <span class="text-danger text-center">@ViewBag.ExistingUser</span>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.username, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Username" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.email, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Email Address" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.password, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.confirmpassword, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Confirm Password" } })
                                    @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.contact, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Contact No." } })
                                @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.address, "", new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Resedential Address" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select id="stateId" name="stateId" class="form-control rounded-pill">
                                        <option value="">Select State</option>
                                        <option value="1">Gujarat</option>
                                        <option value="2">Goa</option>
                                        <option value="3">Maharashtra</option>
                                        <option value="4">Karnataka</option>
                                        <option value="5">Rajasthan</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.stateId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    <select id="cityId" name="cityId" class="form-control rounded-pill"></select>
                                    @Html.ValidationMessageFor(model => model.cityId, "", new { @class = "text-danger", @placeholder = "Select City" })
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            @*<hr>
                            <a href="~/Home/Index" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="~/Home/Index" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>*@
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="~/LogIn/ForgotPassword">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="~/LogIn/LogIn">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function AddData(data) {
        var City = $('#cityId');
        City.empty();

        var selectCity = '<option value="">Select City</option>'
        City.append(selectCity);

        for (var i = 0; i < data.length; i++) {
            var optionsHTML = '<option value="' + data[i].value + '">' + data[i].text + '</option>';
            City.append(optionsHTML);
        }
    }
    $(document).ready(function () {
        $('#stateId').on('change', function () {
            var state = $('#stateId').val();
            $.ajax({
                type: "GET",
                url: "/LogIn/GetCities?Id=" + state,
                success: function (data) {
                    AddData(data)
                }
          
            })
        })
    })
    
</script>